@model IEnumerable<SGE.Models.Profesor>

@{
    ViewData["Title"] = "Index";
}

<h1>Profesores</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Registrar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ProfesorId" class="btn btn-primary">Modificar</a> |
                    <a asp-action="Details" asp-route-id="@item.ProfesorId" class="btn btn-info">Ver</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProfesorId" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
